@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$fontMain: 'Montserrat', sans-serif;
$fontRegular:400;
$fontBold:500;

.textMedium{ font-size: 1.2em;}
.textBig{ font-size: 2em;}
.textSmall{ font-size: 0.8em;}